.landing {
    /* color:#f2b66f; */
    /* color: #70371f; */
    color: #607d8b;
    background-color: #e3e3e3;
    height: 100vh;
    /* next line to be image side by side */
    display: flex;
    opacity: 0.8;
    z-index: 1;
    /* iphone and Ipad needs to styll be the same or change to go to the bottom */
}
.background-img {
    /* width: 100%; */
    width: 70%;
    z-index:-1;
    /* margin: 20px; */
}

.logo-and-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    background-color: #e3e3e3;
    z-index: 2;
}

.logo {
    width: 40%;
}

.catch-phrase {
    margin: 0;
    margin-bottom: 5%;
    /* font-style: italic; */
}

.how-to-use {
    margin-top: 15vh;
    font-size: 18px;
}

.logo-and-search p {
    font-size: 16px;
}



/*Lora, slab 27px*/
/*Caveat*/
/*Crimson Text*/
/*Indie Flower*/
/*Cormona Garmond*/