.landing {
    /* color:#f2b66f; */
    color: #70371f;
    /* -webkit-text-stroke: 0.5px #3b4cca; */
    /* background-color: #5b5b5b; */
    background-color: #9e9e9e;
    height: 100vh;
    /* next line to be image side by side */
    display: flex;
    /* iphone and Ipad needs to styll be the same or change to go to the bottom */
    /* background-color: #0d0f15; */
}
.background-img {
    width: 100%;
    /* margin: 20px; */
}
/*Lora, slab 27px*/
/*Caveat*/
/*Crimson Text*/
/*Indie Flower*/
/*Cormona Garmond*/