.recipe-card-main-img {
  height: 140px;
}

.recipe-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  color: gray;
  width: 160px;
}

.recipe-card-main-img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 140px;
}

.link-to-recipe-details {
  color: gray;
}

.link-to-recipe-details:hover {
  color: #d28b39c9;
}

.recipe-card-title {
  font-size: 16px;
  color: gray;
}

.recipe-card-title:hover {
  font-size: 16px;
  color: #d28b39c9;
}

/* ****** IphoneX ******* */
@media only screen and (max-width:600px ){

  .recipe-card-main-img {
    height: auto;
    /* test this on safari */
  }

  .recipe-card-container {
    width: 250px; 
    color: #d28b39c9;
  }
  
  .recipe-card-main-img-container {
   width: 250px;
   justify-content: center;
  }

  .recipe-card-title {
    font-size: 18px;
    color: #d28b39c9;
  }

  .link-to-recipe-details {
    color: #d28b39c9;
  }
  
    
}