/* .recipe-card-main-img {
  width: 20%;
} */

.recipe-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  color:gray;
  width: 100px;
}

.recipe-card-main-img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: center; */
}

.link-to-recipe-details {
  color:gray;
}

.link-to-recipe-details:hover {
  color:gray;
  color:#d28b39c9;
}

.recipe-card-title {
  font-size: 14px;
  color:gray;
}

.recipe-card-title:hover {
  font-size: 15px;
  color:#d28b39c9;
}