.error-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 78vh;
}

.error-msg img {
  width: 30%;
}

.error-msg h1 {
  margin: 0;
  font-size: 30px;
}

.error-msg h2 {
  margin: 0;
  font-size: 20px;
}

.error-msg p {
  font-size: 12px;
}