.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.landing-page {
  height: 100%;
  width: 100%;
  background-color: #5b5b5b;
}

.categories-page {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0;
}
