.categories-display {
  height: 78vh;
  /* width: 100%;  */
  background-color: #fbf8f3; 
}

.baking-categories-title {
  margin: 0;
  color:black;
}

.links-container {
  margin-top: 10%;
}

.links {
  margin: 1%;
}