.categories-display {
  display: flex;
  flex-direction: column;
  height: 78vh;
  /* width: 100%;  */
  background-color: #9e9e9e; 
  box-shadow: inset 0px 4px 20px 1px rgb(158 158 158 / 45%);
}

.baking-categories-title {
  margin: 0;
  /* color:#f2b66f; */
  color:#e0ab6d;
}

.links-container {
  /* i want to use grid and add 1 colum with 3 and second colum with 2
  see if this is possible otherwise i will change to 2 diff containers 
  and keep the flexbox */
  display: flex;
  justify-content: center;
  margin: 10%;
  /* color:black; */
}

.categories-img-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-img {
  border: 3px solid gray;
  border-radius: 50%;
  width: 80%;
}

.links {
  font-size: 18px;
  text-align: center;
  align-items: center;
  color:#63453b;
  margin: 1px;
}

.links:hover {
  font-size: 20px;
  color:#ff9800;
}