.categories-display {
  display: flex;
  flex-direction: column;
  height: 78vh;
  /* width: 100%;  */
  background-color: #9e9e9e1a; 
}

.baking-categories-title {
  /* margin: 0; */
  /* color:#f2b66f; */
  color:#e0ab6d;
}

.links-container-line1 {
  display: flex;
  justify-content: center;
  /* margin: 10%; */
  /* color:black; */
  margin-top: 0 5% 10%;
}
.links-container-line2 {
  display: flex;
  justify-content: center;
  /* margin: 0 10%; */
  /* color:black; */
}

.categories-img-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.category-img {
  border: 3px solid gray;
  border-radius: 50%;
  width: 40%;
}

.links {
  font-size: 18px;
  text-align: center;
  align-items: center;
  color:#63453b;
  margin: 1px;
}

.links:hover {
  font-size: 20px;
  color:#ff9800;
}