
.recipe-details-main-container {
  
  width: 100%;
  height: auto;
}

.recipe-details-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-details-main-img {
  width: 50%;
  height: auto;
  margin: 5%;
}

.recipe-details-main-container {
  display: flex;
  height: 50%;
  justify-content: space-evenly;
  margin-right: 5%;
}

.recipie-details-title,
.recipe-details-ingredient-title {
  text-align: start;
  font-size: 1em;
  margin: 5% 0 1.5% 0;
}

.recipe-details-cook-time {
  margin: 0;
  text-align: start;
  font-size: .5em;
}

ul {
  list-style: none;
  padding-left: 0pt;
  list-style-position: outside;
  text-align: start;
  font-size: 0.6em;
  margin: 0;
}

.recipe-details-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.recipe-details-instructions-title {
  margin: 5% 0 1% 0;
}

.recipe-details-description {
  font-size: 0.6em;
  margin: 0 0 2% 0;
  width: 50%;
  height: auto;
}
