.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #636161;
  height: 12vh;
  background-color: #e19634;
  box-shadow: 0 4px 10px -10px rgb(0 0 0 / 60%);
}

.header-location {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  padding-top: 10px;
  width: 100vw;
  min-height: 40%;
  background-color: #e3e3e3;
}

.location-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-height: 60%;
}

.location-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  justify-content: space-evenly;
  width: 20vw;
}

.p-location {
  margin: 0;
  font-size: 18px;
}

.location {
  text-align: center;
  height: 18px;
  margin-left: 3px;
  outline: none !important;
  box-sizing: border-box;
  outline-color: hsl(0deg 0% 62% / 6%);
  border: 0;
  margin-bottom: 0;
  border-bottom: 0.5px solid #9e9e9eb8;
  background-color: #9e9e9e12;
  color:black;
}

.p-elevation {
  font-size: 25px;
  margin: 0;
}

.elevation-icon {
  width: 21px;
  transform: rotate(270deg);
  -webkit-transform:rotate(270deg);
  text-align: center;
}

.p-humidity {
  font-size: 25px;
  margin: 0;
}

.humidity-icon {
  width: 30px;
}

.header-logo {
  width: 80px;
  margin: 0;
}

.company-name {
  margin: 0;
  padding: 1px;
  padding-right: 7rem;
}

.nav-links a {
  color:#636161;
  padding: 2rem;
}

.nav-links a:hover {
  color:#ffffff;
}


/* ****** IphoneX ******* */
@media only screen and (max-width:600px ){

  .location-data {
    justify-content: flex-start;
    width: 40vw;
    padding: 2px;
  }
    
  .company-name {
    padding-right: 0;
  }

  .p-elevation {
    font-size: 20px;
  }

  .p-humidity {
    font-size: 20px;
  }
  
}