.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: #f2b66f; */
  color: #70371f;
  height: 12vh;
  /* background-color: #5b5b5b; */
  background-color: #9e9e9e4a;
  box-shadow: 0 4px 10px -10px rgb(0 0 0 / 60%);
  /* margin-top: 0; */
  /* width: 100vw; */
  /* height: 100px; */
}

.header-location {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  padding-top: 10px;
  width: 100vw;
  min-height: 40%;
  background-color: blanchedalmond;
  /* margin-top: %; */
}

.location-info {
  display: flex;
  width: 100vw;
  max-height: 20%;
  margin-left: 5%;
}

.location-data {
  display: flex;
  flex-direction: row;
  /* maybe: */
  justify-content: space-evenly;
  width: 400px;
}

.p-location {
  margin: 0;
  font-size: 12px;
}

.location {
  text-align: center;
  height: 12px;
  margin-left: 2px;
  outline: none !important;
  box-sizing: border-box;
  outline-color: hsl(0deg 0% 62% / 6%);
  border: 0;
  margin-bottom: 0;
  border-bottom: 0.5px solid #9e9e9eb8;
  /* background-color: #5b5b5b; */
  /* background-color: #9e9e9e; */
  background-color: #9e9e9e12;
  /* color: #70371f; */
  color:black;
}

.p-elevation {
  font-size: 24px;
  margin: 0;
}

.p-humidity {
  font-size: 24px;
  margin: 0;
}

.company-name {
  margin: 0;
  margin-left: 8%;
}