.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: #f2b66f; */
  color: #636161;
  height: 12vh;
  background-color: #e19634;
  box-shadow: 0 4px 10px -10px rgb(0 0 0 / 60%);
}

.header-location {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  padding-top: 10px;
  width: 100vw;
  min-height: 4vh;
  background-color: #e3e3e3;
}

.location-info {
  display: flex;
  align-items: center;
  width: 100vw;
  max-height: 20vh;
  /* margin-left: 5%; */
}

.location-data {
  display: flex;
  flex-direction: row;
  /* maybe: */
  justify-content: space-evenly;
  width: 400px;
}

.p-location {
  margin: 0;
  font-size: 18px;
}

.location {
  text-align: center;
  height: 18px;
  margin-left: 3px;
  outline: none !important;
  box-sizing: border-box;
  outline-color: hsl(0deg 0% 62% / 6%);
  border: 0;
  margin-bottom: 0;
  border-bottom: 0.5px solid #9e9e9eb8;
  background-color: #9e9e9e12;
  color:black;
}

.p-elevation {
  font-size: 25px;
  margin: 0;
}

.elevation-icon {
  width: 30px;
}

.p-humidity {
  font-size: 25px;
  margin: 0;
}

.humidity-icon {
  width: 30px;
}

.company-name {
  margin: 0;
  margin-left: 20vw;
  /* margin-left: 330px; */

}