.footer {
  color:#d28b39c9;
  height: 10vh;
  background-color: #9e9e9e4a;
  text-align: center;
}

.app-name-footer {
  margin: 0;
}

.footer-logo {
  width: 4%;
}

/* ****** IphoneX ******* */
@media only screen and (max-width:600px ){

  .footer-logo {
    width: 20%;
  }
  
}