.search-field {
    display: flex;
    justify-content: space-between;
    opacity: .5;
    font-size: 14px;
    outline: none !important;
    background-color: #9a9797fa;
    border: 1px solid #9a9797fa;
    border-radius: 16px;
    border-color: #719ECE;
    box-sizing: border-box;
    box-shadow: 0 0 10px #719ECE;
    width: 80%;
}
.search-bar {
    border: none;
    border-radius: 16px;
    width: 100%;
    padding-left: 14px;
    height: 32px!important;
    line-height: normal!important;
  }

  .search-bar:focus {
    outline: none !important;
  }

  .search-btn{
    border-radius: 16px;
    background-color: #edebeb00;
    border: none;
    /* padding: 0; */
  }

  .mag-glass {
    width: 30px;
    height: 30px;
    padding: 1px;
    cursor: pointer;
    background-color: #9a9797fa;
    border-radius: 16px;
  }